.home .home-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.home .right-container img {
    width: 500px;
    height: auto;
}

.home .left-container {  
    display: flex;
    flex-direction: column;
    align-items: left;
}

.home .left-container h1 {
    font-size: 80px;
    color: black;
}

.home .left-container p {
    font-size: 20px;
    margin-right: 150px;
    color: black;
}

.home .left-container .try-btn {
    margin-top: 20px;
    width: 200px;
    height: 60px;
    background-color: rgb(101, 120, 132);
    color: rgb(0, 0, 0);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}